/* rubik-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v26-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/rubik-v26-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v26-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v26-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v26-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v26-cyrillic_latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* golos-text-500 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/golos-text-v4-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/golos-text-v4-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/golos-text-v4-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/golos-text-v4-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/golos-text-v4-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/golos-text-v4-cyrillic_latin-500.svg#GolosText') format('svg'); /* Legacy iOS */
  }
  /* golos-text-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/golos-text-v4-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/golos-text-v4-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/golos-text-v4-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/golos-text-v4-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/golos-text-v4-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/golos-text-v4-cyrillic_latin-700.svg#GolosText') format('svg'); /* Legacy iOS */
  }


/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/*----- Main styles ----- */

:root {
    --main-red: #E31E24;
    --main-blue: #244082;
}

@keyframes headerAnim {
    0% {
        top: -25%;
    }
    100%{
        top: 0;
    }
}

body, html {
    overflow-x: hidden;
}

html.fixed {
    overflow: hidden;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    background: #fff;
    color: #162336;
    &::-webkit-scrollbar {
        width: 5px;               /* ширина всей полосы прокрутки */
    }
    &::-webkit-scrollbar-track {
        background: #fff;        /* цвет зоны отслеживания */
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--main-blue);    /* цвет бегунка */
        border-radius: 20px;       /* округлось бегунка */
    }
    &.fixed {
        overflow: hidden;
    }
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: 'Golos Text';
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(89.92deg, var(--main-blue) 0.06%, #5899F9 52.91%, var(--main-blue) 99.93%);
    box-shadow: 0px 4px 0px #3773C9;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Golos Text';
    font-weight: 700;
    font-size: 16px;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover, &:active {
        transform: translateY(-1px);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    }
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 3;
    &.active {
        position: fixed;
        animation: headerAnim 0.65s ease-in-out;
        background: #fff;
        box-shadow: 0px 44px 114px 20px rgba(0, 0, 0, 0.04);
    }
    &__layout {
        display: none;
    }
    &__burger {
        display: none;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 45px;
            height: 45px;
            margin-right: 10px;
            pointer-events: none;
        }
        span {
            font-family: 'Golos Text';
            font-weight: 700;
            text-transform: uppercase;
            font-size: 20px;
            color: var(--main-red);
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__link {
        font-size: 20px;
        font-weight: 700;
        color: var(--main-blue);
        padding-bottom: 5px;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: var(--main-blue);
            border-radius: 5px;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all .4s cubic-bezier(0.19,1,0.22,1);
        }
        &:hover::before {
            width: 100%;
        }
    }
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../img/main.jpg') 0 0 / cover no-repeat;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #fff, $alpha: .7);
    }
    &__wrapper {
        position: relative;
        z-index: 2;
        max-width: 650px;
        margin: 0 auto;
    }
    &__title {
        font-size: 42px;
        margin-bottom: 15px;
        text-transform: uppercase;
        opacity: 0;
        transform: translateY(15%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateY(0); 
        }
        span {
            color: var(--main-red);
        }
    }
    &__desc {
        text-align: center;
        margin-bottom: 65px;
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateY(0); 
        }
    }
    &__btn {
        width: 240px;
        height: 60px;
        margin: 0 auto;
        opacity: 0;
        transform: translateY(40%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateY(0); 
        }
    }
}

.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    max-width: 1300px;
    width: 100%;
    box-shadow: 0px 44px 114px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 1.5s ease;
    &.animate {
        opacity: 1;
    }
    &__title {
        font-weight: 500;
        font-size: 26px;
    }
    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &__right {
        display: flex;
        flex-direction: column;
        border-left: 1px solid #59769F;
    }
    &__items {
        display: flex;
        &:nth-child(1) {
            border-bottom: 1px solid #59769F;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 273px;
        height: 116px;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        &:not(:last-child) {
            border-right: 1px solid #59769F;
        }
        img {
            height: 40px;
        }
        &:hover .partners__name {
            transform: translateY(0);
        }
    }
    &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.582);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        transform: translateY(100%);
        transition: all 0.35s ease;
        span {
            color: #fff;
            text-align: center;
        }
    }
}

.about {
    padding: 220px 0 80px;
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__pic {
        flex: 0 0 40%;
        opacity: 0;
        transform: translateX(-30%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateX(0); 
        }
        img {
            pointer-events: none;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 0 0 50%;
        opacity: 0;
        transform: translateX(30%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateX(0); 
        }
    }
    &__title {
        font-size: 32px;
        line-height: 1;
        text-align: left;
        margin-bottom: 40px;
        text-transform: uppercase;
        span {
            color: var(--main-red);
        }
    }
    &__descs {
        margin-bottom: 50px;
    }
    &__desc {
        margin-bottom: 20px;
        text-align: justify;
    }
    &__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        width: 180px;
        height: 40px;
    }
}

.second {
    background: url('../img/second.jpg') 50% 0 / cover no-repeat;
    padding: 80px 0;
    &__title {
        color: #fff;
        font-size: 36px;
        margin-bottom: 10px;
        opacity: 0;
        transform: translateY(50%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateY(0); 
        }
    }
    &__desc {
        color: #fff;
        text-align: center;
        max-width: 600px;
        margin: 0 auto 40px;
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateY(0); 
        }
    }
    &__cards {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 30px 30px; 
        grid-template-areas: 
          ". . ."
          ". . ."; 
        height: 100%;
        opacity: 0;
        transition: all 2s ease;
        &.animate {
            opacity: 1;
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 20px 20px 50px 30px;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            display: block;
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: -45px;
            right: -25px;
            border-radius: 50%;
            box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
        }
        &::after {
            content: '';
            display: block;
            width: 100px;
            height: 100px;
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
        &:nth-child(1)::after {
            background: url('../img/card-1.png') 0 0 / cover no-repeat;
        }
        &:nth-child(2)::after {
            background: url('../img/card-2.png') 0 0 / cover no-repeat;
        }
        &:nth-child(3)::after {
            background: url('../img/card-3.png') 0 0 / cover no-repeat;
        }
        &:nth-child(4)::after {
            background: url('../img/card-4.png') 0 0 / cover no-repeat;
            right: -10px;
            bottom: 5px;
        }
        &:nth-child(5)::after {
            background: url('../img/card-5.png') 0 0 / cover no-repeat;
        }
        &:nth-child(6)::after {
            background: url('../img/card-6.png') 0 0 / cover no-repeat;
        }
        &__substrat {
            display: inline-block;
            background: #EDF4FF;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
        }
        &__title {
            text-transform: uppercase;
            color: var(--main-blue);
            text-align: left;
        }
        &__items {
            margin-bottom: 25px;
            position: relative;
            z-index: 2;
        }
        &__item {
            list-style-type: none;
            padding-left: 25px;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: #90D578;
            }
            &::after {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                background: url('../img/svg/check-ico.svg') 0 0 / cover no-repeat;
                position: absolute;
                top: 50%;
                left: 6px;
                transform: translateY(-50%);
            }
        }
        &__btn {
            display: inline-flex;
            margin: auto 0 0 0;
            width: 140px;
            height: 30px;
            border-radius: 6px;
            font-size: 14px;
            font-weight: 400;
            position: relative;
            z-index: 2;
        }
    }
}

.three {
    padding: 80px 0 130px;
    &__wrapper {
        position: relative;
    }
    &__layer {
        width: 500px;
        position: absolute;
        right: 200px;
        bottom: -40px;
        pointer-events: none;
        opacity: 0;
        transform: translateY(10%);
        transition: all 2000ms cubic-bezier(0.19,1,0.22,1);
        &.animate {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__title {
        font-size: 36px;
        text-align: left;
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(20%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateY(0); 
        }
        span {
            color: var(--main-red);
        }
    }
    &__desc {
        max-width: 500px;
        margin-bottom: 100px;
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateY(0); 
        }
    }
    &__btn {
        width: 200px;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 6px;
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s ease;
        &.animate {
            opacity: 1;
            transform: translateY(0); 
        }
    }
}

.footer {
    box-shadow: 0px 44px 114px 20px rgba(0,0,0,0.04);
    padding: 40px 0 50px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 70px;
        }
        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-130%, -50%);
        }
        &:nth-child(1):before {
            background: url('../img/footer-geo.png') 0 0 / cover no-repeat;
        }
        &:nth-child(2):before {
            background: url('../img/footer-email.png') 0 0 / cover no-repeat;
        }
        &:nth-child(3):before {
            background: url('../img/footer-phone.png') 0 0 / cover no-repeat;
        }
    }
    &__link {
        color: var(--main-blue);
    }
    &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 45px;
            height: 45px;
            margin-right: 10px;
            pointer-events: none;
        }
        span {
            font-family: "Golos Text";
            font-weight: 700;
            text-transform: uppercase;
            font-size: 20px;
            color: var(--main-red);
        }
    }
}

.popup {
    position: fixed;
    display: flex;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    &.active {
        opacity: 1;
        visibility: visible;
        & .popup__wrapper {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__layout {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 4;
    }
    &__wrapper {
        position: relative;
        z-index: 5;
        max-width: 532px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 40px;
        opacity: 0;
        transform: translateY(15%);
        transition: all .3s ease-in;
    }
    &__title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    &__desc {
        text-align: center;
        color: #162336;
        opacity: 0.5;
        margin-bottom: 30px;
    }
    &__close {
        width: 15px;
        height: 15px;
        background: url('../img/svg/close-ico.svg') 0 0 / cover no-repeat;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        input {
            width: 100%;
            height: 50px;
            border: 1px solid #CFCFCF;
            border-radius: 5px;
            padding-left: 15px;
            margin-bottom: 15px;
        }
        button {
            background: linear-gradient(89.92deg, #256AD1 0.06%, #5899F9 52.91%, #2A74E2 99.93%);
            box-shadow: 0px 4px 0px #3773C9;
            border-radius: 201px;
            width: 100%;
            height: 50px;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
        }
    }
}

@media (max-width:1024px) {
    .container {
        padding: 0 20px;
    }
    .first {
        height: 70vh;
    }
    .partners {
        max-width: 900px;
        &__item {
            width: 215px;
        }
        &__title {
            font-size: 22px;
        }
    }
    .three {
        &__layer {
            right: -15px;
            bottom: -25px;
        }
    }
    .footer {
        &__item {
            max-width: 200px;
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
}

@media (max-width:991px) {
    .header {
        &__logo {
            img {
                width: 36px;
                height: 36px;
            }
            span {
                font-size: 14px;
            }
        }
        &__link {
            font-size: 18px;
        }
    }
    .first {
        &__title {
            font-size: 32px;
        }
    }
    .partners {
        flex-direction: column;
        max-width: 650px;
        &__title {
            font-size: 20px;
        }
        &__left {
            padding: 30px 0 ;
            border-bottom: 1px solid #59769F;
        }
        &__right {
            width: 100%;
            border: none;
        }
        &__item {
            height: 80px;
            img {
                height: 30px;
            }
        }
    }
    .about {
        padding: 180px 0 60px;
        &__title {
            font-size: 26px;
        }
        &__desc {
            margin-bottom: 5px;
            text-indent: 25px;
        }
    }
    .second {
        &__title {
            font-size: 26px;
        }
        &__cards {
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            ". ."
            ". ."
            ". .";  
        }
    }
    .three {
        &__title {
            font-size: 26px;
        }
        &__layer {
            width: 430px;
        }
        &__desc {
            max-width: 300px;
        }
    }
    .footer {
        &__logo {
            img {
                width: 36px;
                height: 36px;
            }
            span {
                font-size: 16px;
            }
        }
        &__wrapper {
            justify-content: flex-start;
        }
        &__item {
            max-width: unset;
        }
        &__items {
            margin-left: 70px;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            height: 55px;
        }
    }
}
@media (max-width: 767px) {
    .btn {
        border-radius: 6px
    }
    .header {
        &__logo {
            img {
                width: 30px;
                height: 30px;
            }
            span {
                font-size: 12px;
            }
        }
        &__nav {
            position: fixed;
            top: 0;
            right: 0;
            width: 70vw;
            height: 100%;
            background: #fff;
            transition: 0.3s ease-in-out;
            transform: translateX(100%);
            z-index: 13;
            &.active {
                transform: translateX(0);
            }
        }
        &__items {
            flex-direction: column;
            align-items: flex-end;
            margin: 100px 20px 0 0;
        }
        &__item {
            padding: 30px 0;
            width: 100%;
            text-align: right;
            border-bottom: 1px solid #EAF2FF;
            &:not(:last-child) {
                margin: 0;
            }
        }
        &__layout {
            display: none;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            transition: 0.1s linear;
            &.active {
                display: block;
                opacity: 1;
                visibility: visible;
                z-index: 12;
            }
        }
        &__burger {
            display: block;
            width: 32px;
            height: 26px;
            position: relative;
            z-index: 16;
            span {
                display: block;
                width: 100%;
                height: 3px;
                border-radius: 8px;
                background: var(--main-blue);
                position: absolute;
                transition: .15s ease-in;
                &:first-child {
                    left: 0;
                    top: 0;
                }
                &:last-child {
                    bottom: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
            &.active {
                span {
                    &:first-child {
                        transform: rotate(45deg);
                        top: 12px;
                    }
                    &:last-child {
                        transform: rotate(-45deg);
                        bottom: 11px;
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
    .first {
        height: 100vh;
        &__title {
            font-size: 26px;
        }
        &__btn {
            font-size: 14px;
            width: 220px;
            height: 50px;
        }
    }
    .partners {
        max-width: 360px;
        border-radius: 6px;
        &__title {
            font-size: 16px;
        }
        &__left {
            padding: 20px 0;
        }
        &__name {
            span {
                font-size: 12px;
            }
        }
    }
    .about {
        &__wrapper {
            flex-direction: column;
        }
        &__pic {
            flex: 0 0 100%;
            width: 100%;
            text-align: center;
            img {
                max-width: 300px;
            }
        }
        &__title {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
    .second {
        padding: 60px 0;
        &__cards {
            display: flex;
            flex-direction: column;
            opacity: 1;
        }
        .card {
            &::before {
                bottom: -65px;
                right: -55px;
            }
            &::after {
                width: 80px;
                height: 80px;
                right: 8px;
                bottom: 8px;
            }
        }
        &__title {
            font-size: 22px;
        }
    }
    .three {
        padding: 60px 0 130px;
        &__title {
            font-size: 22px;
        }
        &__layer {
            width: 280px;
            bottom: -90px;
            right: -90px;
        }
    }
    .footer {
        &__wrapper {
            flex-direction: column;
        }
        &__items {
            width: 100%;
            height: auto;
            margin: 30px 0 0 0;
        }
        &__item {
            width: 100%;
            &:not(:last-child) {
                margin: 0 0 20px 40px;
            }
            &:last-child {
                text-align: center;
            }
        }
        &__logo {
            img {
                width: 30px;
                height: 30px;
            }
            span {
                font-size: 12px;
            }
        }
    }
    .popup {
        &__wrapper {
            max-width: 320px;
            border-radius: 6px;
            padding: 30px 20px;
        }
        &__title {
            font-size: 22px;
        }
        &__close {
            top: 10px;
            right: 10px;
        }
        &__desc {
            font-size: 14px;
        }
    }
}

@media (max-width: 320px) {
    .header {
        padding: 10px 0;
        &__burger {
            height: 20px;
            &.active span {
                &:first-child {
                    top: 9px
                }
                &:last-child {
                    bottom: 8px;
                }
            }
        }
    }
    body {
        font-size: 14px;
    }
    .partners {
        transform: translate(-50%,100%);
    }
    .first {
        &__title {
            font-size: 22px; 
        }
        &__btn {
            font-size: 12px;
            width: 180px;
            height: 40px;
        }
    }
    .about {
        padding: 240px 0 60px;
        &__pic {
            img {
                width: 100%;
            }
        }
        &__title {
            font-size: 18px;
        }
        &__desc {
            text-indent: 10px;
        }
        &__btn {
            font-size: 12px;
            width: 160px;
            height: 40px;
        }
    }
    .second {
        &__title {
            font-size: 18px;
        }
        .card {
            &__btn {
                font-size: 12px;
            }
        }
    }
    .three {
        &__title {
            font-size: 18px;
        }
        &__btn {
            font-size: 12px;
        }
        &__desc {
            margin-bottom: 30px;
        }
        &__layer {
            width: 200px;
            bottom: -135px;
        }
    } 
}